# Neon PostgreSQL Serverless Connection String (Username: neondb_owner)
DATABASE_URL="postgresql://neondb_owner:npg_Fr2EfBObG4Zn@ep-soft-bread-azesbcoo-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# Resend API Configuration
RESEND_API_KEY="re_bLmLW97c_HrtUboNQdJDVqhvrX5zainTE"
RESEND_FROM_EMAIL="no-reply@upvance.site"

# JWT Secret for Session Cookies
JWT_SECRET="hive_jwt_secret_key_uin_jakarta_2026_production_secure_7f8a"

# Production Domain for Short Links & QR Codes
NEXT_PUBLIC_APP_URL="https://hiveuin.tech"
