# Neon PostgreSQL Serverless Connection String
DATABASE_URL="postgres://username:password@ep-cool-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Resend API Configuration
RESEND_API_KEY="re_123456789_abcdefghijklmnopqrstuvwxyz"
RESEND_FROM_EMAIL="no-reply@upvance.site"

# JWT Secret for Session Cookies
JWT_SECRET="hive_super_secret_jwt_key_2026_change_in_production"

# Production Domain for Short Links & QR Codes
NEXT_PUBLIC_APP_URL="https://hiveuin.tech"
